{% extends 'base.html.twig' %}

{% block title %}
	Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="program d-flex flex-column w-90 m-auto">
			<img class="align-self-center mr-3 mb-4" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster"/>
			<div class="media-body">
				<h1 class="fs-2 text-center mb-3 mt-0">
					{{ program.title }}
				</h1>
				<p class="mb-3">
					{{ program.synopsis }}
				</p>
				<p class="mb-3">
					Catégorie :
					{{ program.category.name }}
				</p>
				<p class="mb-3">
					Durée totale :
					{{ programDuration }}
				</p>
			</div>
		</div>
		{% for season in seasons %}
			<div>
				<h2>
					Saison
					{{ season.number }}
					({{ season.year }})
				</h2>
				<p>
					{{ season.description }}
				</p>
				<a href="{{ path( 'program_season_show', { seasonId: season.id, programSlug: program.slug } ) }}">
					Voir le détail
				</a>
			</div>
		{% else %}
			<p>
				Aucune saison trouvée.
			</p>
		{% endfor %}
	</div>

	<strong>Acteurs :</strong>
	<ul>
		{% for actor in program.actors %}
			<li>{{ actor.name }}</li>
			<a href="{{ path( 'actor_show', { id: actor.id } ) }}">
				Voir la fiche
			</a>
		{% else %}
			<li>Aucun acteur pour cette série</li>
		{% endfor %}
	</ul>
	{% if is_granted("ROLE_ADMIN") or app.user is same as(program.owner) %}
		<a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
		{%endif%}
		<a href="{{ path('program_index') }}">Retour à la liste des programmes</a>
	{% endblock %}
